@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #000;
    --color2: #fff;
    --color3: #7928ca;
    --color4: #ff0080;
    --color5: #ff4d4d;
    --color6: #f9cb28;
    --color7: #007cf0;
    --color8: #00dfd8;


    --font-titulo: 'Luckiest Guy', cursive;
    --font-text: 'Quicksand', sans-serif;
}

body {
    font-family: var(--font-text);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.principal {
    height: 100vh;
    background-color: var(--color1);
}

.nav {
    --open: scale(1);
    --close: scale(0);
    --menu: translatey(-100%);

    height: 10%;
    display: grid;
    grid-template-columns: 6fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "lista logo"
    ;
}

.nav:target {
    --open: scale(0);
    --close: scale(1);
    --menu: translatey(0);
}

.nav__logo--open{
    transform: var(--open);
}

.nav__logo--close{
    transform: var(--close);
}

.nav__logo {
    grid-area: logo;
    padding: .4rem;
    transition: .2s;
}

.nav__lista {
    grid-area: lista;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    transform: var(--menu);
    transition: .5s;

}

.nav__enlace {
    color: var(--color5);
    font-size: 3rem;
    font-weight: bold;
}

.titulo {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: var(--color4);
    font-family: var(--font-titulo);
    font-size: 4rem;

}
